.posts {
    overflow: hidden;
    text-align: left;
    margin: 5px auto;
    width: 1200px;

    .post {
        border-left-width: 9px;
    }

    h2 {
        padding-left: .5rem;
        font-size: 13px;
    }

    p {
        font-size: 20px;
    }
}
