.posts {
    overflow:hidden;

    text-align: left;
    margin: 5px auto;
    width: 1000px;

    .post {
        margin: .5rem;
        padding: .3rem;
        border-left-width: 9px;
    }

    p {
        font-size: 20px;
    }
}
